@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

/**parametre par default**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/**style appliqué a tous le document**/
body {
  background-color: rgb(239, 241, 245);
  font-family: "Nunito sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 800;
}
a:hover {
  color: white;
}
a {
  text-decoration: none;
  margin: 10px;
  font-size: 10px;
  color: gray;
}
.hr {
  margin: 1rem 5rem;
  border: solid 2px blue;
}
.notfound {
  display: flex;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.notfound_conteneur {
  text-align: center;
}
#topBtn {
  background-color: blue;
  border-radius: 5px 0 0 5px;
  color: white;
  font-size: small;
  writing-mode: vertical-rl; /* Texte vertical */
  text-orientation: upright; /* Lettres non pivotées */
  text-align: right; /* Texte aligné à droite */
  padding: 10px; /* Espace autour du texte */
}

#topBtn:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  background-color: #298eff;
}

#topBtn:active {
  transition: all 0.1s ease;
  transform: scale(0.9);
}
// mobile
@media (max-width: 576px) {
  li {
    font-size: 10px; // Exemple de style spécifique pour tablette
  }
  .header_mask {
    height: 56px;
    margin: 5px;
    background-color: red;
  }

  .about_contenaire {
    margin: 10px auto;
    width: 90%;
    display: block;
  }
  .about_box {
    width: 80%;
    border-radius: 10px;
  }
  .footer_contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_box {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 2500px;
  }
}

/* Tablet*/
@media (min-width: 577px) and (max-width: 991px) {
  li {
    font-size: 10px;
  }
  .header_mask {
    height: 67px;
    background-color: rgb(51, 255, 0);
  }

  .about_contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about_box {
    border-radius: 10px;
    border-color: white;
    width: 40%;
  }
  .contact-contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contact_box {
    border-radius: 10px;
    border-color: white;
    width: 50%;
    width: 40%;
  }

  .footer_contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_box {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
  }
}
/* Desktop*/
@media (min-width: 992px) {
  li {
    font-size: 16px;
  }
  .header_mask {
    height: 67px;
    background-color: rgb(0, 81, 255);
  }

  .about_contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about_box {
    width: 40%;
  }

  .footer_contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_box {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
  }
}

/**header**/
.nav_txt {
  color: rgb(17, 17, 17);
}
/**Accueil**/
.accueil {
  position: relative;
  background-image: url("./asset/img/accback_mobile.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.accueil::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.accueil_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/**About**/
.about_box {
  border-radius: 10px;
  background-color: white;
}
.about_box {
  margin: 20px auto;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.img_about {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
/**service**/
.service_card {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.service_boximage {
  margin: 10px auto;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_boximage icon:hover {
  color: #cde1f8;
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.service_boximage icon:active {
  transition: all 0.1s ease;
  transform: scale(0.9);
}
.service_box-titre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.service_box-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
//Portfolio
.service_img {
  margin: auto;
  height: 100px;
}
.titre-size {
  height: 80px;
  padding: 5px;
}
.descrition-size {
  height: 100px;
  padding: 5px;
}
.img {
  width: 100%;
  border-radius: 5px;
}
.fond {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./asset/img/fond.jpeg");
}
/*blog*/

.blog_img-size {
  height: 150px;
}
.blog_titre-size {
  height: 120px;
  padding: 5px;
}
.blog_descrition-size {
  height: 100px;
  padding: 5px;
}
/**mentions**/
.collapse {
  &:not(.show) {
    display: none;
  }
}
.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.CollapseTitre {
  font-size: 1rem;
  color: rgb(52, 52, 52);
  text-align: start;
  width: 100%;
  border: solide 1px grey;
}
.CollapseTitre:hover {
  color: rgb(3, 37, 170);
  border: solide rgb(98, 179, 229);
  background-color: rgb(153, 195, 238);
}
.collapsea {
  font-size: 1rem;
  color: blue;
}
.colcontact {
  width: 80%;
  margin: 10px auto;
}
/**Contacte**/
.contact {
  position: relative;
  background-image: url("./asset/img/fondcontact.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 10px;

  width: 100%;
}

.contact_content {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px 10px;
}

.contact_contenant-head {
  border: solid;
  padding: 20px 15px;
  width: 80%;
  margin: auto;
}
.contact_contenant-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 5px;
}
.contact_box {
  margin: 5px;
}
.ifram_box {
  width: 90%;
  margin: auto;
}
iframe {
  margin: auto;
}

/**footer**/
footer {
  background-color: rgb(238, 238, 238);
  margin-top: 10px;
  padding: 20px;
}
.logo_img {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
footer li {
  list-style-image: url("./asset/img/icon/chevron-right-solid.svg");
  color: rgb(5, 5, 5);
  margin-right: 5px;
}

/**debug**/
.sol {
  border: solid red;
}
.sol1 {
  border: solid green;
}
.sol2 {
  border: solid blue;
}
.sol3 {
  color: white;
  background-color: rgb(100, 54, 54);
}
